.wrapper {
  margin-top: 150px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
  position: relative;
  top: 380px;
}

.line {
  margin-top: 50px;
  width: 90%;
}

.description p:nth-child(1) {
  display: flex;
  width: 100%;
  gap: 30px;
  font-size: 50px;
  color: #cb9b51;
}

.description p:nth-child(2) {
  color: #fff;
}

.subtext {
  color: #cb9b51;
  text-align: center;
  margin: 50px 0;
}

@media only screen and (max-width: 425px) {
  .wrapper {
    margin-top: 20px;
  }

  .description p:nth-child(1) {
    font-size: 24px;
  }

  .subtext {
    padding: 30px;
  }
}
