.wrapper {
  height: 100%;
}

.testimonial_section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 550px;
  background: #f2f2f6;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -10;
  display: none;
}

.testimonial_container {
  width: 100%;
  /* min-width: 1280px; */
  height: 600px;
  position: relative;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.t_image {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.t_image2 {
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.t_image::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3f56da;
  left: 0px;
  top: 40px;
  border-radius: 100%;
  z-index: -1;
}

.t_image2::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3f56da;
  right: 0px;
  top: 30px;
  border-radius: 100%;
  z-index: -1;
}

.t_image ul {
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 460px;
  width: 340px;
  box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
}

.t_image2 ul {
  display: flex;
  /* position: absolute; */
  overflow: hidden;
  height: 460px;
  width: 340px;
  box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
}

.t_image li {
  height: 460px;
  width: 340px;
}

.t_image2 li {
  height: 460px;
  width: 340px;
}

.t_image img {
  height: 400px;
  width: 500px;
}

.t_image2 img {
  height: 400px;
  width: 500px;
}

.t_content {
  width: 500px;
  height: 600px;
  display: flex;
  align-items: center;
}

.t_content ul {
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 400px;
}

.t_content li {
  width: 500px;
  height: 400px;
  color: #fff;
  display: flex;
  align-items: center;
  position: absolute;
}

.content_inner {
  width: 500px;
}

.quote {
  font-size: 36px;
  letter-spacing: 0.88px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 16px;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
.name {
  font-size: 18px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheader h2 {
  color: goldenrod;
}

.sub_content {
  color: #fff;
  width: 1280px;
  min-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 425px) {
  .testimonial_section {
    display: block;
  }

  .inner {
    display: block;
  }

  .sub_content {
    display: none;
  }

  .t_content {
    height: 200px;
  }

  .t_content ul{
    /* height: 0; */
  }
}
